<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
</h1>
<nav class="navbar navbar-default"><ul class="nav navbar-nav">
  <li><a routerLink="eager">Eager</a></li>
 <li> <a routerLink="lazy/lazyy">Lazy</a></li>
 <li> <a routerLink="details">Details</a></li>
  <li><a routerLink="heroDetails">Hero Details</a></li>
  <li><a routerLink="login">Login</a></li></ul>
</nav>
<router-outlet></router-outlet>
<!--<app-form></app-form>-->
</div>