
  <h2>Add a new Hero </h2>
  <form #heroform="ngForm">
    <div class="form-group">

      <label for="id">Hero Id:
        <input type="text" #id name="id" class="form-control" [(ngModel)]="model.id">
      </label>

    
    </div>
    <div class="form-group">

      <label for="name">Hero Name:
        <input type="text" #name name="name" class="form-control" [(ngModel)]="model.name">
      </label>

     
    </div>
    <div class="form-group">

      <label for="ego">Ego:
        <input type="text" #ego name="ego" class="form-control" [(ngModel)]="model.alterEgo" #spy required>
      </label>
{{spy.className}}
         </div>
    <div class="form-group">
      <label for="pow">Powers:
      <select id="pow" name="pow" class="form-control">
        <option *ngFor="let power of powers" id="pow" class="form-control" [value]="power">{{power}}</option>


      </select></label>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
   
  </form>
  {{debugger}}
