<h2>Login Form!!!</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Name
      <input name="name" id="name" formControlName="name" type="text">
    </label>

  </div>
  <div formGroupName="address">
    <div class="form-group">
      <label for="street">street

        <input type="text" name="street" id="street" formControlName="street">
      </label>
    </div>
<label for="states">
    <select id="states" name="states" formControlName="states">
      <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
</select>
</label>
</div>
  <div class="form-group">
    <label for="power">Power
      <input name="power" id="power" formControlName="power" type="text">
    </label>
  </div>

  <div class="form-group">
    <label for="sidekick">Sidekick
      <input name="sidekick" id="sidekick" formControlName="sidekick" type="text">
    </label>
  </div>
  <button type="submit" class="btn btn-success">Submit Button</button>
</form>
<p>{{loginForm.value | json}}</p>
<p>{{loginForm.status | json}}</p>